.cate{
flex: 9;
width: 300px;
height: 300px;
margin-top: 20px;
margin-right: 100px;
}

.contentimg {
margin-top: 0%;
height: 350px;
width: 350px;


} 



.sidebar {
    width: 30%;
    flex: 3;
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(216, 221, 231);
    font-family:   'Lobster', cursive;
    font-size:large;
    color :rgb(92, 108, 141);
    border-top: 2px solid rgb(67, 81, 109);
    border-bottom:  2px solid rgb(67, 81, 109);
    }
    
    .img {
    width:350px;
    
    
    
    }
    
    .buttonhome
    {
border: none;
background-color: cadetblue;
color: white;
font-weight: bold;
width: 200px;
padding: 20px;
border-radius: 20px;
cursor: pointer;

    }


    .card {

flex:1;
padding: 10px;
padding-right: 0;
display: flex;
flex-direction: column;
justify-content: space-around;

position: relative;
height: 400px;
width: 300px;




    }



    .cont{


width: 100%;
height: calc(100vh -50px);

display: flex;


    }


    .title {

     font-size: 30px;

     font-family:   'Lobster', cursive;


    }

    .brand {

        color: rgb(97, 52, 52);
        
    }

    .desc {

font-size: 20px;
font-family:   'Lobster', cursive;


    }