
.signupmain {
    background-image: linear-gradient(
      360deg,
        rgba(245, 237, 237, 0.25),
        rgba(245, 240, 240, 0.25)
      ),
      url("https://d1ryy4xg0hd8g7.cloudfront.net/assets/dc/pages/shared/keyboard-a58780fac31f3ba1ff6037b86d45a2d5d980b4606ada3cb5f905163304f7cb3a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
  
  }


  
  .signup {
 
    display: flex;
    margin-left: 30%;
    justify-content: center;
    height: 60%;
    width: 40%;
    margin-bottom: 100px;
   letter-spacing: 2.5px;
 font-weight: 200px;
  color: rgb(52, 84, 102);
border: none;
border-radius: 10px;
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}