
  
  .dashboardWrapper {
  
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:4rem ;
  }
  
  .ItemsCon {
    width: 60%;
   margin-top: 10px;
    border-radius: 4rem;
    background-color: rgb(235, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(43, 34, 34);
  
  }
  
  .list {
    width: 80%;
    height: 50%;
    list-style: none;
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
  }
  
  .listItem li {
    font-size: 120%;
    font-family: "Josefin Sans", sans-serif;
    
  }
  
  .listItem button {
  
    border: none;
    border-radius: 0.5rem;
    color: rgb(201, 15, 15);
    font-size: 18px;
  }
  
  .listItem .delete {
    background-color:  rgb(235, 224, 224);
  }
  .listItem .delete:hover {
    background-color: rgb(202, 199, 199);
    cursor: pointer;
  }

  .hr{
      color: black;
  }



  .dashs {
    background-image: linear-gradient(
      360deg,
        rgba(245, 237, 237, 0.25),
        rgba(245, 240, 240, 0.25)
      ),
      url("https://th.bing.com/th/id/R.22164f8f778c68af8eb0261c6fc5134a?rik=VRxzPyKhr%2bO0%2bA&riu=http%3a%2f%2fwww.omahainvestmentadvisors.com%2ffiles%2f80244%2fclient+login.png&ehk=i2LoKkygJjwdW54%2fFxAr6PPLMgDd0fv0WSVzq638gug%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  height: 520px;
    margin: 0;
    padding: 0;

  }

  .title1{
    font-size: 30px;

    font-family:   'Lobster', cursive;
    display: flex;
    justify-content: center;

  }