.top{
  height: 50px;
background-color: rgb(21, 24, 24);
color: white;
display: flex;
justify-content: space-between;

}



.topright,.topleft{

flex:3;
display: flex;
align-items: center;
justify-content: center;


}

.topcenter
{

flex:6;

}
.logo{
  
font-size: 26px;
margin-left: 10px;
color: rgb(238, 253, 243);


}

.logo ul li {

  display: inline-block;
}


.toplist{

display: flex;
justify-content: center;
margin-bottom: 10px;
padding: 0;
list-style: none;

}

.toplist {
    overflow: hidden;
    background-color: rgb(15, 19, 19);
    display: flex;
    justify-content: space-around;
    display: block;
    list-style: none;
   height: 60px;
   
  }
  .toplist ul li {

    display: inline-block;
  }
  
  .toplist a {
    color: rgb(239, 241, 240);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 25px;
  }
  
  .toplist a:hover {
   
    color: rgb(34, 49, 40);
  }

.toplistitem
{
    padding-left: 50px;

margin-top: 15px;
font-size: 18px;
font-weight: 300;
cursor: pointer;


}


.topimg {

    width: 40px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}