
.toplist{

display: flex;
justify-content: center;
margin-bottom: 10px;
padding: 0;
list-style: none;

}

.toplist {
    overflow: hidden;
    background-color: rgb(15, 19, 19);
    display: flex;
    justify-content: center;
    display: block;
    list-style: none;
   
   
   
  }
  .toplist ul li {

    display: inline-block;
  }
  
  .toplist a {
    color: rgb(239, 241, 240);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 25px;
    
  }
  
  .toplist a:hover {
   
    color: rgb(34, 49, 40);
  }

.toplistitem
{
    padding-left: 50px;
margin-top: 15px;
font-size: 18px;
font-weight: 300;
cursor: pointer;


}



.lout{
margin-top: 15px;

}


.listuser
{

margin-left: 38rem;
}
